{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
    {bbmustache, {git, "git://github.com/soranoba/bbmustache", {branch, master}}},
    {cowboy, {git, "git://github.com/ninenines/cowboy", {branch, master}}},
    {jsone, {git, "git://github.com/sile/jsone", {branch, master}}},
    {lager, {git, "git://github.com/erlang-lager/lager", {branch, master}}},
    {b64_urlsafe, {git, "git://github.com/yowcow/b64_urlsafe", {branch, master}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [lager, hello_webapp]}
]}.

{relx, [
    {release,
     {"hello_webapp_app", "0.1.0"},
     [hello_webapp]
    },
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, true},
    {sys_config, "config/sys.config"}
]}.
